html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.dhxsidebar_base_material div.dhxsidebar_cont{*/
/*    left: 0;*/
/*    top: 0;*/
/*}*/

div.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{
    background-color: white;
    color: black;
    border-bottom: solid 2px #52daff;
    box-shadow: 0 0 0 3 black;
}

div.dhxcombolist_material div.dhxcombo_option.dhxcombo_option_selected{
    background-color: #f5f5f5;
}

div.dhxcombo_material.dhxcombo_actv{
    padding-bottom: 0;
    border-bottom: 2px solid #52daff;
}

div.dhxform_control{

}

.cor-padrao{
    background-color: rgba(62, 155, 186, 0.78) !important;
}

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side {*/
/*    background-color: #212a2f;*/
/*    z-index: 9999;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item.dhxsidebar_item_selected{*/
/*    background-color: #212a2f;*/
/*    color: white;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item{*/
/*    background-color: #212a2f;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_sep{*/
/*    background-color: transparent;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item:hover{*/
/*    background-color: #888888;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side{*/
/*    border: none;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item{*/
/*    color: white;*/
/*}*/
/*.dhxsidebar_tpl_myview div.line_one {*/
/*    margin-left: 51px;*/
/*    margin-top: 4px;*/
/*    line-height: 16px;*/
/*    font-size: 11px;*/
/*}*/
/*.dhxsidebar_tpl_myview div.line_two {*/
/*    margin-left: 51px;*/
/*    margin-top: 1px;*/
/*    line-height: 16px;*/
/*    color: #515151;*/
/*}*/
/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side.dhxsidebar_tpl_icons_text div.dhxsidebar_side_items div.dhxsidebar_item div.dhxsidebar_item_text{*/
/*    margin-top: 3px;*/
/*}*/

/*.dhxsidebar_base_material div.dhxsidebar_cont div.dhx_cell_sidebar div.dhx_cell_sidebar_hdr{*/
/*    background-color: white;*/
/*    border: none;*/
/*}*/

